<div class="dominant_form">  
	<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
		<h1>Change My Password</h1>
		<%= f.error_messages %>
		
		<div>
			<%= f.label :password %><br />
		  <%= f.password_field :password %>
		</div>

		<div>
		  <%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %>
		</div>

	  <%= f.submit "Update my password and log me in" %>
	<% end %>
</div>