<div class="standard_form">
	

<% form_for @user  do |form| %>  
	<h1>Register</h1>
	<div class="summary">
		The account is free. We will only use your email to send you important service announcements, and
		to help if you forget your password.
		If you want to get news and updates, follow us on twitter <a href="http://twitter.com/planforus">@planforus</a>
	</div>

	<%= form.error_messages %>  

  <div class="input">  
    <%= form.label :username, "Username" %> <br/>
    <%= form.text_field :username %>      
  </div>  
	
	
	<div class="input">
		<%= form.label :email, "Email" %> <br/> 
	  <%= form.text_field :email %>  
  </div>  
	
	
	  <div class="input">
			<%= form.label :password, "Password" %><br/>
	    <%= form.password_field :password %>  
	  </div>  

	  <div class="input">  
			<%= form.label :password_confirmation, "Password confirmation" %><br/>
	    <%= form.password_field :password_confirmation %>  
	  </div>  

  <div>  
    <%= form.submit "Sign me up" %>  
  </div>  

<% end %>
</div>