<% form_for(Event.new, :url => plan_events_url(plan), :id => "new_event") do   |f| %>
	<div class="inputs clearfix">
  	<div>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>

	  <div>
	    <%= f.label :date_string, "Date" %><br />
			<%= f.text_field :date_string, {:size=>"10",:class => "datepicker"} %> 
	  </div>
	
		<div>
	    <%= f.submit 'Book Event	' %>
	  </div>
	</div>
<% end %>
  
<script type="text/javascript">
$(function() {
	$(".datepicker").datepicker();
});
</script>






	