<h1>Editing events</h1>

<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :plan_id %><br />
    <%= f.text_field :plan_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', resource_path(@event) %> |
<%= link_to 'Back', resources_path %>