<p>
  <b>Primary:</b>
  <%=h @event.primary %>
</p>

<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>

<p>
  <b>Plan:</b>
  <%=h @event.plan_id %>
</p>


<%= link_to 'Edit', edit_resource_path(resource) %> |
<%= link_to 'Back', resources_path %>