<div id="lessons">


	<%= render :partial => lessons %>


	<% form_tag(plan_lessons_url(plan)) do  %>
	 <div class="inputs clearfix">
	  <div>
	    <%= label_tag :description %><br />
	    <%= text_field :lesson, :description %>
	  </div>

	  <div>
	    <%= label_tag :date %><br />
	    <%= date_select :lesson, :date %>
	  </div>

	  <div>
	    <%= label_tag :start %><br />
			<%= time_select :lesson, :start %> 
	  </div>

	  <div>
	    <%= label_tag :end %><br />
			<%= time_select :lesson, :end %> 
	  </div>

	</div>
	  <div>
	    <%= submit_tag 'Submit' %>
	  </div>
	<% end %>
</div>