<div id="lessons">


	<%= render :partial => lessons %>




	<% form_for(Lesson.new, :url => plan_lessons_path(@plan)) do |f| %>
	 <div class="inputs clearfix">
	  <div>
	    <%= f.label :description %><br />
	    <%= f.text_field :description %>
	  </div>

	  <div>
	    <%= f.label :date_string, "Date" %><br />
	    <%= f.text_field :date_string, {:size=>"10",:class => "datepicker"} %> 
	  </div>

	  <div>
	    <%= f.label :start %><br />
			<%= f.time_select :start, {:minute_step => 15} %> 
	  </div>

	  <div>
	    <%= f.label :end %><br />
			<%= f.time_select :end, {:minute_step => 15} %> 
	  </div>

	</div>
	  <div>
	    <%= f.submit 'Book Lesson' %>
	  </div>
	<% end %>
</div>
