<div class="lesson clearfix">
  <div class="clearfix">
		<h2><%=h lesson.description %></h2>
  	<span class="date"><%=h lesson.date.strftime("%A %d %B  %Y") %>
	  (<%= lesson.start.strftime("%H:%M") %> - <%= lesson.end.strftime("%H:%M") %>)</span>
	</div>
  <span class="commands"><%= link_to 'Destroy', plan_lesson_path(lesson.plan, lesson), :confirm => 'Are you sure?', :method => :delete %></span>
</div>


