<div id="lessons">


	<%= render :partial => lessons %>




	<% form_tag(plan_lessons_url(plan)) do  %>
	 <div class="inputs clearfix">
	  <div>
	    <%= label_tag :description %><br />
	    <%= text_field :lesson, :description %>
	  </div>

	  <div>
	    <%= label_tag :date %><br />
	    <%= text_field :lesson, :date_string, {:size=>"10",:class => "datepicker"} %> 
	  </div>

	  <div>
	    <%= label_tag :start %><br />
			<%= time_select :lesson, :start, {:minute_step => 15} %> 
	  </div>

	  <div>
	    <%= label_tag :end %><br />
			<%= time_select :lesson, :end, {:minute_step => 15} %> 
	  </div>

	</div>
	  <div>
	    <%= submit_tag 'Submit' %>
	  </div>

		<script type="text/javascript">
		$(function() {
			$(".datepicker").datepicker();
		});
		</script>
	<% end %>
</div>
