
<div id="plan_<%= plan.id %>" class="plan clearfix">
	<div class="clearfix">	
		<div class="plan_title">
				<h2><%= link_to plan.name, plan_path(plan) %></h2>
		</div>
		<div class="plan_controls">
			<%= link_to 'Destroy', plan, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	</div>
	<div class="plan_summary">
			<span class="counter"><%= plan.events.upcoming.size %></span> Events planned
			<span class="counter"><%= plan.lessons.upcoming.size %></span> Lessons Booked
	</div>

	<%- if plan.events.upcoming.primary.size>0 -%>
			<%= render :partial => "events/event_detail", :locals => {:event => plan.events.upcoming.primary.first} %>
	<%- end -%>

	

</div>


