<tr class="<%= "major" if week.has_major_event? %> <%= "minor" if week.has_minor_event? %>">
	<td><%= week.number %></td>
	<td><% if week.has_major_event? %><div class="major_tab"><%= week.major_event.summary%></div><% end %><% if week.has_minor_event? %><div class="minor_tab"><%= week.minor_event.summary%></div><% end %></td>
</tr>