<tr id="<%= week.html_id %>" class="<%= week_class(week) -%>">
	<td><%= week.number -%></td>
	<td class="lessons"><%= week.lessons.size==0 ? "" : week.lessons.size -%></td>
	<td class="event_details"><div class="events"><%- week.events.each do |event| -%>
		  <span class="<%= event_class(event) -%>">
			  <%=  event.summary -%>
			</span>
	    <%- end -%></div></td>
</tr>