<% form_tag(weekly_plan_path(@plan), :method => "get") do -%>
	<%= label_tag "start", "Start Date" %>
	<%= text_field_tag "start", "", :class => "datepicker" %>
	<%= label_tag "end", "End Date" %>
	<%= text_field_tag "end", "", :class => "datepicker" %>
	<%= submit_tag("Display") %>
<% end  %>
<div id="weekly" class="clearfix">
	<div id="events_list"
		<table>
		<tr>
			<th>No.</th>
			<th>Les</th>

		</tr>

	  <%= render :partial => "week", :collection => weeks %>
	  </table>
	</div>
	
	<%- if detailed_event -%>
		<div id="next_event">
			<h2>Next Primary Event</h2>
			<%= render :partial => "events/event_detail", :locals => {:event => detailed_event} %>
		</div>
	<%- end -%>
</div>