<div id="plan_controls" class="ui-corner-all">
	<% allowed_plans = current_user.allowed_plans  %>
	You currently have <%= @plans.count %> out of <%= allowed_plans %> 
	<%= pluralize(allowed_plans, "plan") %>.
	<%- if @plans.count < allowed_plans -%>
		Create a <%= link_to 'New plan', new_plan_path %>
	<%- end  %>	
</div>

<%= render :partial => @plans %>
