<%# title "Log in" %>  
<div class="dominant_form">  

	<% form_for @user_session do |form| %>  
		<h1>Login <%= link_to "(Prices and Signup)", prices_path %></h1>
		<%= form.error_messages %>  

	  <div>  
	    <%= form.label :username, "Username" %> <br/>
	    <%= form.text_field :username %>  
	  </div>  
	  <div>  
	    <%= form.label :password, "Password" %> <%= link_to "(forgot password)", new_password_reset_path %>  <br/>
	    <%= form.password_field :password %>  
	  </div>  
	  <div>  
	    <%= form.submit "Login" %>  
	  </div>  
 
	<% end %>
</div>