<div id="header">
	<div class="central">
		<div id="header_top" class="clearfix">
			<div id="title_banner">
				<a href="<%= root_path %>">
					<span>ThePlanFor</span>.us
				</a>
			</div>
		
			
			<div id="account_nav">  
				<ul>
			  	<% if current_user %>
						<li><%= link_to "My Plans", plans_path %></li>
				    <li><%= link_to "Logout", logout_path %> </li>
				  <% else %>  
				    <li><%= link_to "Register", new_user_path %></li>
				    <li><%= link_to "Log in", login_path %> </li>
				  <% end %>  
				</ul>
			</div>
		</div>
	</div>

</div>
<div id="header_bottom_border">
	
</div>
