<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html 
	PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="<%= controller.controller_name -%>">

<%= render :partial => "layouts/html_header" %>

<body class="<%= controller.action_name -%>">
	<p style="color: green"><%= flash[:notice] %></p> 
	<div id="wrap">
		<%= render :partial => "layouts/header" %>	
		<div id="main" class=" clearfix">
			<%= yield %>
		</div>
	</div>
	<div id="footer">
		<div class="central">
			<div>
				Give <a href="mailto:feedback@theplanfor.us">feedback</a>.
			</div>			
		</div>
	</div>
	<%= render :partial => "shared/google_analytics" %>
</body>
</html>